//
// Custom Example 1 Style
// Here you can put your custom sass code, use global SASS mixings and variables to override the theme or add new styles according to your requirements.
// Most of the changes can be achieved via global or layout level sass variable changes.
//

.kt-menu__subnav {
  background-color: #243553;
  color: #fff;
}
.sidemenu-footer {
  position: absolute;
  width: 100%;
  height: 100px;
  padding: 9px 25px;
  color: #fff;
  bottom: 12vh;
  .break-line {
    width: 100%;
    border: 1px solid #dddfe0;
  }
  .logout-box {
    width: 55px;
    height: 19px;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: 0.16px;
    text-align: left;
    color: #ed8f31;
  }
}
.category-card {
  width: 240px;
  height: 250px;
  box-shadow: 0 6px 20px 0 #2435532b;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;

  .category-image {
    width: 113.4px;
    height: 123.9px;
    object-fit: contain;
  }
  h2{
    color:kt-state-color(primary, base);
  }
}

