//
// Custom Example 1 Style
// Here you can put your custom sass code, use global SASS mixings and variables to override the theme or add new styles according to your requirements.
// Most of the changes can be achieved via global or layout level sass variable changes.
//

.kt-menu__subnav {
  background-color: #243553;
  color: #fff;
}
.sidemenu-footer {
  position: absolute;
  width: 100%;
  height: 100px;
  padding: 9px 25px;
  color: #fff;
  bottom: 12vh;
  .break-line {
    width: 100%;
    border: 1px solid #dddfe0;
  }
  .logout-box {
    width: 55px;
    height: 19px;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0);
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: 0.16px;
    text-align: left;
    color: #ed8f31;
  }
}

// category cards
.category-card {
  width: 240px;
  height: 250px;
  box-shadow: 0 6px 20px 0 #2435532b;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  cursor: pointer;

  .category-image {
    width: 113.4px;
    height: 123.9px;
    object-fit: contain;
  }
  h2 {
    color: kt-state-color(primary, base);
  }
  .card-description {
    width: 164px;
    height: 28px;
    font-family: Poppins;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-wrap;
  }
}

// margin b/w each service card
.margin-card {
  margin-left: 15px;
}

//service modal info
.service-modal-info {
  .item-image {
    // height: 376px;
    border: solid 1px #707070;
    background-color: #ffffff;
    .image {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .item-description {
    width: 100%;
    font-family: Poppins;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
  }
  .item-quantity-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .price {
      color: kt-state-color(primary, base);
    }
    .qty {
      color: $order-placed;
      font-family: Poppins;
      font-size: 19px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.53;
      letter-spacing: 0.38px;
      text-align: left;
    }
  }
  .item-add {
    button {
      border: solid 1px #ebedf2;
      background-image: linear-gradient(to bottom, #ed8f31, #ffa304);
      font-size: 14px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
    }
  }
}
.service-modal-faq {
  cursor: pointer;
  .card-header {
    background-color: #fff;
    padding: 0;
    border: 0;
  }
  .faq-heading {
    padding-bottom: 1rem;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.24px;
  }
  .accordion-container {
    border-bottom: 1px solid kt-get($kt-font-color, text);
  }
  .faq-ans {
    margin-top: 1rem;
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;
    padding-bottom: 1rem;
  }
  .arrow-icon {
    width: 10px;
  }
  .close {
    font-weight: 500;
    color: kt-get($kt-font-color, text);
    opacity: 1;
    font-size: 1.8rem;
  }
}
.mybasket-billing {
  .amounts-container {
    border-bottom: 1px solid rgba(69, 65, 78, 0.08);
    padding: 1rem 0;
    .amount-num {
      font-size: 21px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.48;
      letter-spacing: normal;
    }
    .amount-text {
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 2.5;
      letter-spacing: normal;
    }
  }
}
.mybasket-item {
  border-bottom: 1px solid rgba(69, 65, 78, 0.08);
  padding: 1.3rem 0;
  .close {
    font-weight: 500;
    color: kt-get($kt-font-color, text);
    opacity: 1;
    font-size: 1.8rem;
  }
  .product {
    width: 50%;
    margin-left: 1.1rem;
    .product-image {
      width: 4rem;
      height: 100%;
      border-radius: 100%;
      border: 3px solid kt-base-color(label, 1);
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        background-position: center;
        background-size: cover;
        border-radius: 50px;
        // border:2px solid kt-base-color(label, 2);
      }
    }
  }
  .quantity {
    width: 50%;
    // margin-left: 8rem;
  }
  .price {
    width: 50%;
    color: kt-base-color(label, 2);
    font-size: 0.9em;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.24px;

    // margin-left: 3rem;
  }
  .sub-total {
    width: 50%;
    font-size: 1em;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: 0.32px;
  }
}
.mybasket-footer {
  .add-more-container {
    width: 17rem;
    .image-basket {
      width: 1.5rem;
      height: 1.5rem;
    }
    .text {
      margin-left: 10px;
      font-size: 1em;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.56;
      letter-spacing: 0.32px;
    }
  }
  .promo-container {
    .promo-input {
      width: 15rem;
    }
  }
}
#save-address {
  position: absolute;
  bottom: 25px;
  width: 100%;
}
.address-label {
  color: kt-get($kt-font-color, text) !important ;
  img {
    width: 1.13125rem;
    height: 1.54375rem;
  }
}
